/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: #d0d2c4;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #323437;
  }
  
  #operacion{
    font-size: 70px;
    align-self: center;
    
  }

  #respuesta{
    all: unset;
    width: 100vw;
    height: 70px;
    border: none;
    background-color: transparent;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    color:#23B5D3;
    caret-color: transparent;
    
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  
  #score{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  #MaxScore{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  #NumberScore{
    font-size: 60px;
    color: #23B5D3;
  }
  #NumberMaxScore{
    font-size: 60px;
    color: #23B5D3;
  }
  #barra-contenedor {
    width: 300px;
    height: 30px;
    background-color: #444;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
  }
  
  #barra-tiempo {
    height: 100%;
    width: 100%;
    background-color: limegreen;
    transition: width 0.1s linear;
  }


  #dif-barra {
    position: absolute;
    top: 70px;
    display: flex;
    gap: 10px;
    padding: 3px;
    border: 3px solid #23B5D3;
    border-radius: 10px;
    background-color: red;
    
}
#modo-barra {
  position: absolute;
  top: 10px;
  display: flex;
  gap: 10px;
  padding: 3px;
  border: 3px solid #23B5D3;
  border-radius: 10px;
  background-color: red;
  
}

.dificultad-btn, .modo-btn {
    padding: 8px 14px;  
    font-size: 1rem;
    font-weight: bold;
    color: #323437;
    background-color: #d0d2c4;
    border: 3px solid #23B5D3;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.dificultad-btn:hover, .modo-btn:hover {
    background-color: #c0c2b2;
}

.dificultad-btn.selected, .modo -btn.selected {
    background-color: #23B5D3;
    color: #ffffff;
    border-color: #ffffff;
}
